:root {
    --yellow: #FFD15B;
    --black: #1b1b1b;
    --grey: #7a7a7a;
    --white: #FFF;
    --fontDarkColor: #000;
    --backgroungColor: #ededed;
}

body {
    font-family: "Manrope", sans-serif;
    background-color: var(--backgroungColor);
    margin: auto;
}

main {
    max-width: 1440px;
    margin: auto;
}


/*HEADER*/
h1 {
    font-family: "Anton", sans-serif;
    font-size: 2.8em;
    color: var(--yellow);
    text-align: center;
    margin: 12% 25% 0 25%;
    text-transform: uppercase;
}

#headerLogo {
    margin: 2em;
    width: 207px;
}

header {
    width: 100%;
    max-height: 800px;
    min-height: 600px;
    background-image: url("./background-img.png");
    background-position: center;
    background-size: cover;
    padding-bottom: 5%;
    box-sizing: border-box;
}

header form {
    width: 65%;
    margin: auto;
}

header form div {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    background: white;
    border-radius: 11px;
    margin-top: 1.5em;
    padding: 0.5em;
}


#search {
    width: 90%;
    padding: 1em;
    border: none;
    margin: auto;
}

#search + button {
    border: none;
    background-color: transparent;
    color: var(--grey);
    font-size: 1.5em;
}

.main-search {
    background-color: var(--black);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px;
    transition: background-color 0.3s ease;
    margin-left: 1em;
}

.main-search:hover {
    background-color: var(--yellow);
}

.main-search:hover #searchLoop {
    filter: brightness(0%);
}


#searchLoop {
    width: 27px;
    height: 28px;
    transition: filter 0.3s ease;
}

#searchTagsBloc {
    width: 65%;
    margin: auto;
    padding: 0;
}

/*FILTER FORM*/

.formContainer {
    display: flex;
    justify-content: space-between;
    padding: 1em 5%;
    box-sizing: border-box;
}


.formGroup {
    display: flex;
    align-items: center;
}

.formGroup form {
    background-color: transparent;
    border: 1px solid var(--backgroungColor);
    display: flex;
    align-items: center;
    margin: 5px 16px 0 16px;
}

.formGroup form input {
    border: none;
    background-color: transparent;
    padding-left: 0.5em;
    width: 85px;
}

.formGroup form input:focus-visible {
    outline: none;
}

.formGroup form button {
    border: none;
    background-color: transparent;
    color: var(--grey);
}


.formBloc {
    background-color: var(--white);
    border-radius: 11px;
    margin-right: 63px;
    position: relative;
    z-index: 1;
    width: 179px;
}

.toggleable {
    width: 179px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    position: absolute;
    left: 0;
    background-color: var(--white);
    border-radius: 0 0 11px 11px;
    margin-top: -10px;
    box-sizing: border-box;

}

.toggleOpen {
    max-height: 200px;
}

.fa-chevron-down.rotate {
    transform: rotate(-180deg);
    transition: transform 0s ease;
}

.formTitle i.fa-chevron-down {
    transition: transform 0s ease;
}

.formTitle {
    padding: 17px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.formLoop {
    width: 15px;
    height: 15px;
    filter: brightness(70%);
    margin: 5px;
}

#searchDevicesResults, #searchIngredientsResults, #searchUtensilsResults {
    overflow: scroll;
    max-height: 150px;
    padding: 10px 0;
    margin: 0;
}

#searchDevicesResults li, #searchIngredientsResults li, #searchUtensilsResults li {
    padding: 5px 16px;
    font-weight: 200;
    list-style-type: none;
}

#searchDevicesResults li:hover, #searchIngredientsResults li:hover, #searchUtensilsResults li:hover {
    background-color: var(--yellow);
}


.numberBloc {
    font-family: "Anton", sans-serif;
}


#tagsBloc, #searchTagsBloc {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 1em 5%;
    height: calc(85px - 2em);
}

#tagsBloc li, #searchTagsBloc li {
    display: flex;
    padding: 17px 18px;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 10px;
    font-size: 12px;
    text-align: center;
}

#tagsBloc li:not(:first-child), #searchTagsBloc li:not(:first-child) {
    margin-left: 1em;
}


#tagsBloc li button, #searchTagsBloc li button {
    background-color: transparent;
    border: none;
    margin-left: 1em;
}


/*SECTION*/

#cardGallery {
    padding: 0 5%;
    margin-top: 2em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 1%;
}


/*CARDS*/

h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
}

h3 {
    color: var(--grey);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 3em 0 1em 0;
}

.card {
    width: 380px;
    height: 731px;
    background-color: var(--white);
    border-radius: 21px;
    box-shadow: 0 4px 34px 30px rgba(0, 0, 0, 0.04);
    overflow: auto;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
}

.card img {
    object-fit: cover;
    height: 253px;
    width: 100%;
    border-radius: 21px 21px 0 0;
}

.card .card-content {
    padding: 0 25px 25px 25px;
}

.card p {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    height: 76px;
    overflow: scroll;
}

.card ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
}

.card ul li {
    margin: 10px 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.card ul li .ingredient {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
}

.card ul li .ingredient-quantity {
    color: var(--grey);
    font-size: 14px;
}


.timer {
    background-color: var(--yellow);
    border-radius: 14px;
    padding: 5px 15px;
    font-size: 12px;
    width: 65px;
    text-align: center;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    top: -240px;
}

#errorMessage {
    text-align: center;
}

#searchCross, #ingredientsCross, #devicesCross, #utensilsCross {
    cursor: pointer;
}